body {
  color: #000;
  background: #fff;
  font-family: sans-serif;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header {
  padding: 10px 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
}

.title__first-word {
  color: #21c726;
}

.motto {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 1rem;
}

main {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

footer {
  height: 8%;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.github {
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 1rem;
}

.logo {
  background: url("img/rs_school_js.svg") no-repeat;
  object-fit: cover;
  width: 90px;
  height: 45px;
  cursor: pointer;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  body {
    margin: 0 auto;
  }

  .title {
    font-size: 1.8rem;
  }

  .motto {
    font-size: 0.7rem;
  }

  .github {
    font-size: 0.8rem;
  }

  .sources {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 600px) {

  .title {
    font-size: 1.2rem;
  }

  .motto {
    font-size: 0.5rem;
  }

  .logo {
    width: 40px;
    height: 20px;
  }

  .github {
    font-size: 0.3rem;
  }

  .sources {
    font-size: 0.8rem;
  }
}  