@import './components/header.scss';
@import './components/footer.scss';

@import './pages/home.scss';
@import './pages/toys.scss';
@import './pages/tree.scss';

@font-face {
    font-family: 'Neucha';
    src: url('./assets/fonts/Neucha-Regular.ttf'); 
}

@font-face {
    font-family: 'Steppe';
    src: url('./assets/fonts/Steppe-Regular 400.otf'); 
}

html, body { 
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Neucha';
}
body {
    margin: auto 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: url('./assets/bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    min-width: 100%;
    min-height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center; 
}
h1 {
    color: green;
}