@font-face {
  font-family: Roboto;
   src: url("assets/fonts/Roboto-Thin.ttf");
   font-weight: 100;
}

@font-face {
  font-family: Roboto;
   src: url("assets/fonts/Roboto-Light.ttf");
   font-weight: 300;
}

@font-face {
  font-family: Roboto;
   src: url("assets/fonts/Roboto-Regular.ttf");
   font-weight: 400;
}

@font-face {
  font-family: Forum;
   src: url("assets/fonts/Forum-Regular.ttf");
   font-weight: 400;
}
 
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: #ffffff;
	&:visited {
		color: #ffffff;
	}
	&:hover {
		text-shadow: 0.2px 0.2px rgb(255, 255, 255);
	}
}

.header {
  background-color: rgb(0, 0, 0);

  &-container {
    height: 150px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0);    
  }

  &__logo {
    width: 60px;
    height: 30px;
    background-image: url("./assets/img/svg/logo.svg");   
    background-repeat: no-repeat; 
  } 

  &__title {
    font-family: Forum;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    margin-left: 75px;
    line-height: 31px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
  }

  &__navigation {
    width: 775px;
    height: 26px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 2px;
  }

  &__navigation ul {    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__navigation ul li {
    display: inline;
  }
}
  
.container {
    margin: 0 auto;
    width: 1440px;
}

.welcome {
  position: relative;
  height: 810px;
  background-color: rgb(0, 0, 0);

  &__title {
    position: absolute;
    height: 180px;
    top: 150px;
    color: rgb(255, 255, 255);
    z-index: 110;
  }

  .container {
    position: relative;
    height: 810px;
  }

  
  &__range {
    position: absolute;
    width: 445px;
    height: 33px;
    top: 355px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    z-index: 110;
  }

  &__button-discover {
    width: 360px;
    height: 75px;
    margin-top: 445px;
    padding-left: 67px;
    background-color: #710707;
    border-radius: 10px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 110;

    &:hover {
      color: rgb(0, 0, 0);
      background-color: #ebb930;
    }
}


  &__welcome-bgi {
    position: absolute;
    width: 1000px;
    height: 750px;
    right: 0px;
    top: 0px;
    z-index: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("./assets/img/welcome-slider/1.jpg");
    background-repeat: no-repeat;
  }

  &__welcome-slider {
    position: absolute;
    display: flex;
    width: 600px;
    height: 120px;
    bottom: 0px;
    right: 0px;
    background: #030303;
    z-index: 1;
  }

  &__slider--counter {
    margin-left: 74px;
    vertical-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    /* identical to box height, or 182% */
    letter-spacing: 1.8px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
  }

}



.section-title {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
}


.slider__rectangle--yellow {
  margin-top: 52px;
  margin-left: 52px;
  width: 16px;
  height: 16px;
  background: #D2B183;
}

.slider__rectangle--white {
  margin-top: 52px;
  margin-left: 25px;
  width: 16px;
  height: 16px;
  background: #ffffff;
}

.slider__arrow {
  margin-top: 56px;
  margin-left: 60px;
  width: 30px;
  height: 8px;
  background-image: url("./assets/img/svg/arrow.svg");  
  background-repeat: no-repeat;

  &--rotated {
    margin-top: 56px;
    margin-left: 20px;
    width: 30px;
    height: 8px;
    transform: rotate(180deg);
    background-image: url("./assets/img/svg/arrow.svg");  
    background-repeat: no-repeat;
  }
}

.visiting {
  position: relative;
  height: 1266px;
  background-color: rgb(255, 255, 255);

  &__title {  
    position: absolute;
    top: 53px;
    width: 1440px;
    color: #9D8665; 
    border-bottom: 3px solid #710707;
    border-radius: 0px;
    line-height: 1.7;
  }
  
  &__image-container {
    position: absolute;
    top: 267px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 60px;
  }
  
  
  &__card-title {
    margin-top: 22px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    color: #000000;
  
    &:hover {
      font-size: 42px;
    }
  }

  &__card-title--border-bottom {
    margin-top: 10px;
    width: 300px;
    border-top: 1px solid #710707;
  
    &:hover {
      margin-top: 10px;
      width: 100%;
      border-top: 1px solid #710707;
    }
  }

  &__card-text1 {
    margin-top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
  
  &__card-text2 {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
}



.explore {
  position: relative;
  height: 865px;
  margin: 0 auto;
  background-color: #000000;

  .container {
    display: flex;
  }

  &__title {
    display: inline-block;
    margin-top: 53px;
    margin-bottom: 53px;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid #710707;
    border-radius: 0px;
    line-height: 1.7;
  }

  &__text {
    width: 660px;
    height: 77px;
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;

    &--yellow {
      color: #CAAA7D;
    }
  }

  &__image-container {
    position: relative;
    margin-top: 90px;
    margin-left: 60px;

    &--before {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-slider {
    position: absolute;
    top: 0;
    left: 420px;
  }
}


.video {
  height: 1396px;
  margin: 0 auto;

  .container {
    display: flex;
    flex-direction: column;  
  }

  &__title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px;
  }

  &__title {
    width: 720px;
    height: 90px;
    left: 0px;
    top: 0px;
    color: #9D8665;
  }

  &__text {
    width: 720px;
    height: 77px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 650px;
  
    &--items {
      display: flex;
      width: 1440px;
      height: 85px;
      background-color: #000;  
  
      input[type=button] {
        height: 85px;
        width: 120px;
        border:none;
        color: #ffffff;
        background-color: #000; 
      }
  
      input[type=range] {
        border:none;
        color: #ffffff;
        background-color: #000; 
      }
      
    }
  }

  &__range-volume {
    width: 929px;
  }
  
  &__range-frame {
    width: 150px;
  }
  
  &__btn-frame {
    width: 40px;
    height: 75px;
    background-image: url("./assets/img/svg/Frame.svg");
    background-repeat: no-repeat;
    background-position: 30px 25px;
  }
  
  &__btn-volume {
    width: 40px;
    height: 75px;
    background-image: url("./assets/img/svg/volume.svg");
    background-repeat: no-repeat;
    background-position: 40px 25px;
  }
  
  &__btn-fullscreen {
    width: 40px;
    height: 75px;
    background-image: url("./assets/img/svg/full.svg");
    background-repeat: no-repeat;
    background-position: 50px 25px;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
  
    iframe {
      width: 452px;
      height: 254px;
    }
  }
}

video {
  object-fit: inherit;
  width: 1440px;
  height: 650px;
}

.gallery {
  position: relative;
  height: 2200px;
  margin: 0 auto;
  background-color: #000000;
  overflow: hidden;

  &__title {
    position: relative;
    top: 75px;
    color: rgb(255, 255, 255);
  }

  &__image-container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    row-gap: 24px;
    column-gap: 0px;
    height: 2500px;
    margin-top: 150px;
    width: 100%; 
  
    img {
      width: 456px;

      &:nth-child(3n+1) {  order: 1}
      &:nth-child(3n+2) {  order: 2}
      &:nth-child(3n) {  order: 3 }

      &:nth-child(4) {  margin-top: 50px }
      &:nth-child(3) {  margin-top: 50px }
    }
    
    &::before,
    &::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
    }

    &--shadow {
      position: absolute;
      top: 1865px;
      width: 1440px;
      height: 360px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
  }
}


.tickets {
  position: relative;
  height: 893px;
  margin: 0 auto;

  &__title {
    padding-top: 53px;
    width: 1440px;
    color: #9D8665;  
    border-bottom: 3px solid #710707;
    border-radius: 0px;
    line-height: 1.7;
  }
  
  
  &__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  &__image-container {
    flex: 3;
    margin-top: 76px;
    width: 720px;
    height: 550px;
    background: url("./assets/img/tickets/tickets_image.jpg");
    background-repeat: no-repeat;
  }
  
  &__choice-container {
    flex:2;
    margin-top: 76px;
  }
  
  &__form {
    display: none;
    width: 1440px;
    height: 845px;
    position:fixed; 
    top: calc(50% - 422px);
    left: calc(50% - 720px); 
    background: #FFFFFF;
    z-index: 10;
  }
}



#cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
}

.form-container {
  display: flex;
  margin: 91px 235px;
  gap: 40px
}

.tickets__fill-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 663px;

  img {
    width: 85px;
    height: 41px;
  }
}


.fill-form__title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  color: #9D8665;
}

.fill-form__subtitle {
  margin-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 38px;
  color: #710707;

  border-bottom: 3px solid #710707;
}

.fill-form__date-time input[type=date] {
  width: 190.5px;
  height: 45px;
  margin-top: 60px;
  border: 1px solid #030303;
}

.fill-form__date-time input[type=time] {
  width: 190px;
  height: 45px;
  margin-top: 60px;
  margin-left: 14px;
  border: 1px solid #030303;
  
}

.fill-form__details input[type=text] {
  width: 400px;
  height: 45px;
  margin-top: 20px;
  border: 1px solid #030303;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.fill-form__details input[type=email] {
  width: 400px;
  height: 45px;
  margin-top: 20px;
  border: 1px solid #030303;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.fill-form__details input[type=tel] {
  width: 400px;
  height: 45px;
  margin-top: 20px;
  border: 1px solid #030303;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.ticket-type {
  width: 400px;
  height: 45px;
  margin-top: 20px;
  border: 1px solid #030303;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.fill-form__entry-ticket {
  width: 400px;
  height: 135px;
  margin-top: 20px;
  padding: 5px 14px;
  border: 1px solid #000000;
}

.fill-form__entry-ticket--title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  color: #9D8665;

  border-bottom: 2px solid #740C11;
}

.tickets__overview-form {
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  width: 530px;
  height: 663px;
  border: 1px solid #000000;

  img {
    width: 15px;
    height: 15px;
  }

    &__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 37px;
    }

    &__subtitle {
      margin-bottom: 5px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 30px;
      color: #740C11;
      opacity: 0.9;
    }

    &__details {
      margin-top: 5px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
    }
}

.overview-form__btn-book {
  border: none;
  width: 220px;
  height: 45px;
  margin-top: 20px;
  margin-left: 220px;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #710707;
  box-shadow: 0 0 4px #999;
  outline: none;
  transition: background 0.8s;

  &:hover {
    background: #cf2828 radial-gradient(circle, transparent 1%, #710707 1%) center/15000%;
  }
  
  &:active {
    background-color: #cf2828;
    background-size: 100%;
    transition: background 0s;
  } 
}


.choice-container__group-title {
  margin-top: -12px;
}

.choice-container__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 38px;
}


.choice-container__option {
  margin-left: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 50px;
}

.tickets__amount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
  margin-top: 76px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.tickets__number {
  all: unset;
  width: 100%;
  text-align: center;
}

.choice-container__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  height: 50px;
  
  margin-top: 15px;
  margin-bottom: 10px;
  border: 3px solid #000000;

  button[type=button] {
    border: none;
    background: none;
    width: 18px;
    height: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }
}


.tickets__buynow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 175px;
  height: 50px;
  margin-top: 33px;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}
.tickets__btn-cancel {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  background-image: url("./assets/img/svg/Close.svg");
  background-repeat: no-repeat;
}

.parallax {
  height: 400px;
  background-image: url("./assets/img/parallax.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container h4 {
    display: none;
  }
}

.contacts {
  position: relative;
  height: 963px;
  margin: 0 auto;

  &__title {
    position: absolute;
    top: 53px;
    width: 1440px;
    color: #9D8665;  
    border-bottom: 3px solid #710707;
    border-radius: 0px;
    line-height: 1.7;
  }
  
  &__inner-container {
    position: relative;
  }
  
  &__address {
    position: absolute;
    width: 282px;
    height: 244px;
    left: 0px;
    top: 268px;
  
    &-title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;
    
    }
    
    ul {
      margin-top: 51px;
      list-style-type: none;
      
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
  
    
      li {
        margin-top: 25px;
        
        a{
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }
  
  &__map {
    position: absolute;
    width: 960px;
    height: 620px;
    left: 480px;
    top: 268px;
    background-image: url("./assets/img/contacts/map.jpg");
    background-repeat: no-repeat;
  }
}



.footer {
  height: 392px;
  margin: 0 auto;
  background-image: url("./assets/img/footer/hline.jpg");
  background-position: 0px 265px;
  background-repeat: no-repeat;
  background-color: #000000;
  color: #FFFFFF;

  .container {
    display: flex;
    flex-direction: column;
  }
  
  &__links-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 318px;
  }
  
  &__logo {
    flex: 1;
    width: 60px;
    height: 30px;
    margin-top: 83px;
    background-image: url("./assets/img/svg/logo.svg");   
    background-repeat: no-repeat; 
  }
  
  &__title {
    font-family: Forum;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    margin-left: 75px;
    line-height: 33px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
  } 
  
  &__media {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    margin-top: 160px;
  
    ul {  
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 200px;
    }
  }
  
  &__media-pic {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    height: 48px;
    width: 48px;
    padding-top: 11px;
    padding-left: 11px;
    border-radius: 50%;
    border: 1px solid #666666;
    filter: drop-shadow(0px 0px 0px #666666);
  
    &:hover {
      border: 1px solid rgb(255, 255, 255);
      filter: drop-shadow(0px 0px 0px #ffffff);
    }
  
    img {
      height: 24px;
      width: 24px;
    }
  }
  
  &__links {
    flex: 1; 
    display: inline-block;
    width: 365px;
    margin-top: 87px;
    margin-left: 65px;
  
    ul {  
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      column-gap: 173px;
      height: 200px;
    
      li {
        margin-bottom: 25px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 26px;
        /* identical to box height */
      
        letter-spacing: 2px;
      }
    }
  }
  
  &__copy-section {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height, or 100% */
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
  }
}



@media only screen 
and (max-device-width : 420px) {
  .header-container {
    height: 90px;
    max-width: 380px;
  }

  .header__navigation ul {
    display: none;
  }

  .header__logo {
    width: 29px;
    height: 16px;
    background-size: cover; 
  }

  .header__title {
    margin-left: 53px;
    line-height: 18px;
    font-size: 16px;
  }
  
  .container {
    margin: 0 auto;
    max-width: 380px;
  }

  
  .welcome {
    height: 544px;

    .container {
      height: 544px;
    }
  
    &__welcome-bgi {
      margin-top: 180px;
      max-width: 380px;
      height: 285px;
      background: url(./assets/img/welcome-slider/1.jpg);
      background-size: cover;    
      z-index: 0;
    }
  
    &__title {
      top: 5px;
      left: 66px;
      text-align: center;
    }
  
    &__range {
      width: 380px;
      height: 28px;
      top: 110px;
      text-align: center;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2px;
    }
  
    &__button-discover {
      display: none;
    }
  
    &__welcome-slider {
      width: 380px;
      height: 50px;
    }
  
    &__slider--counter {
      font-size: 16px;
      letter-spacing: 0;
    }
  }  

  .slider__rectangle--white {
    width: 7px;
    height: 7px;
    margin-top: 7px;
    margin-left: 10px;
  }

  .slider__rectangle--yellow {
    width: 7px;
    height: 7px;
    margin-top: 7px;
    margin-left: 28px;
  }
  .slider__arrow {
    margin-top: 4px;
    margin-left: 4px;
  }

  .slider__arrow--rotated {
    margin-top: 4px;
  }

  .section-title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
  }

  .visiting {
    height: 2153px;

    .visiting__title {
      max-width: 380px;
      top: 20px;
      line-height: 2.9;
    }
  
    &__card-title {
      margin-top: 20px;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 3px;

      &--border-bottom {
        margin-top: 10px;
        width: 150px;
        border-top: 2px solid #710707;
      }
    }
  
    &__card-text1 {
      margin-top: 8.5px;
      font-size: 18px;
      line-height: 21px;
    }
  
    &__card-text2 {
      margin-top: 10px;
      font-size: 16px;
      line-height: 19px;
    }
    
    &__image-container {
      max-width: 380px;
      top: 143px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 34px;
      column-gap: 55px;
      justify-content: center;
    }
  }
  

  .visiting__image-container:nth-child(3) a:nth-child(3) h3,
  .visiting__image-container:nth-child(3) a:nth-child(5) h3,
  .visiting__image-container:nth-child(3) a:nth-child(6) h3 {
    letter-spacing: 3px;
  }

  .visiting__image-container a{
    width: 280px;
  }

  .visiting__image-container a img{
    width: 280px;
  }

  .explore {
    position: relative;
    height: 551px;

    &__title { 
      width: 380px;
      margin-top: 20px;
      margin-bottom: 40px;
      top: 20px;
      line-height: 2.9;
    }
  
    .container {
      display: block;
    }
  
    &__text {
      max-width: 380px;
      height: min-content;
      margin: 0;
    }
  
    &__text {
      display: none;
    }
  
    &__image-container {
      margin: 0;
      
      &--before {
        width: 230px;
        height: 368px; 
      }

      &--after {
        width: 380px;
        height: 368px; 
      }

      .explore-slider {
        width: 20px;
        height: 368px;
        left: 220px;
      }
    }
  }

  

  .video {
    height: 551px;
    margin: 0 auto;

    &__container {
      width: 380px;
    }
    
    &__container--items {
      width: 380px;
      height: 50px;
      input[type=button] {
        height: 50px;
      }
    }
  
  
    &__title {
      height: 34px;

      &-container {
        justify-content: start;
        margin-top: 40px;
        margin-bottom: 26px;
        height: 30px;
      }
    }
    
    &__text {
      display: none;
    }
  
    &__slider {
      margin-top: 43px;

      iframe {
        width: 180px;
        height: 101px;
        border: none;
        &:nth-child(3) {
          display: none;
        }
      }
    }    
  }

  video {
    max-width: 380px;
    height: 172px;
  }

  
  .gallery {
    height: 757px;

    &__title {
      top: 41px;
    }
    &__image-container {
      max-width: 380px;
      margin-top: 80px;
      display: flex;
      flex-flow: column wrap;
      align-content: space-between;
      row-gap: 24px;
      column-gap: 12px;
      img {
        width: 178px;
      }  

      &--shadow {
        top: 520px;
        max-width: 380px;
        height: 239px;
      }
    }
  }

  

  .tickets {
    height: 759px;

    &__inner-container {
      flex-direction: column;
    }
    &__title {
      max-width: 380px;
      padding-top: 20px;
      line-height: 2.9;
    }
  
    &__image-container {
      flex: none;
      width: 380px;
      height: 160px;
      margin-top: 40px;
    }
  
    &__choice-container {
      display: none;
    }
  
    &__amount-container {
      width: 150px;
      margin-top: 0px;
      margin-left: 80px;
      font-weight: 300;
      font-size: 22px;
      line-height: 20px;
      flex: auto;
    }
  }

  

  .parallax {
    height: 300px;
    max-width: 420px;
  }

  .contacts {
    height: 636px;

    &__title {
      max-width: 380px;
      top: 20px;
      line-height: 2.9;
    }
  
    &__inner-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 163px;
    }
  
    &__map {    
      position: unset;
      width: 380px;
      height: 248px;
    }
  
    &__address {
      position: unset;
      height: 220px;

      &-title {
        font-size: 20px;
        line-height: 23px;
      }
    
      ul {
        font-weight: 300;
        font-size: 18px;
        line-height: 11px;
        margin-top: 46px;
      }
    }  
  }
  
  .footer {
    max-width: 420px;
    height: 400px;
    background-position: 0px 298px;

    &__logo {
      flex: 2;
      margin-top: 48px;
    }
  
    &__title {
      margin-left: 74px;
      line-height: 36px;
    }
  
    &__links {
      margin-top: 65px;
      margin-left: 52px;

       ul {
        column-gap: 82px;
        height: 100px;
        position: absolute;
        left: 20px;
        margin-top: 35px;

        li {
          font-size: 18px;
          line-height: 21px;
        }
      }
          
      &-section {
        height: 297px;
      }
    }
  
    &__media {
      margin-top: 220px;
      ul {
        position: absolute;

      }
    }
  
    &__copy-section {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 2px;
      margin-top: 30px;
    }
  }  
}

@media only screen 
and (min-device-width : 421px) 
and (max-device-width : 768px) {
  .header-container {
    height: 110px;
    max-width: 728px;
  }

  .header__navigation ul {
    display: none;
  }

  .header__logo {
    width: 49px;
    height: 26px;
  }
  .header__title {
    margin-left: 74px;
    line-height: 38px;
  }
  
  .container {
    margin: 0 auto;
    max-width: 728px;
  }

  
  .welcome {
    height: 861px;

    .container {
      height: 861px;
    }
  
    &__welcome-bgi {
      margin-top: 215px;
      max-width: 728px;
      height: 546px;
      background: url(./assets/img/welcome-slider/1.jpg);
      background-size: cover;    
      z-index: 0;
    }
  
    &__title {
      top: 0px;
      left: 200px;
      text-align: center;
    }
  
    &__range {
      width: 728px;
      height: 28px;
      top: 145px;
      text-align: center;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 2px;
    }
  
    &__button-discover {
      display: none;
    }
  
    &__welcome-slider {
      width: 728px;
      height: 100px;
    }
  
    &__slider--counter {
      margin-left: 163px;
      font-size: 20px;
      letter-spacing: 2.1px;
    }
  }  

  .slider__rectangle--white {
    width: 12px;
    height: 12px;
    margin-top: 44px;
  }

  .slider__rectangle--yellow {
    width: 12px;
    height: 12px;
    margin-top: 44px;
    margin-left: 43px;
  }
  .slider__arrow {
    margin-top: 45px;
    margin-left: 45px;
  }

  .slider__arrow--rotated {
    margin-top: 45px;
  }

  .section-title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .visiting {
    height: 1226px;

    &__title {
      max-width: 728px;
      top: 20px;
      line-height: 2.5;
    }
  
    &__card-title {
      margin-top: 20px;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 3px;
    }
  
    &__card-text1 {
      margin-top: 8.5px;
      font-size: 18px;
      line-height: 21px;
    }
  
    &__card-text2 {
      margin-top: 10px;
      font-size: 16px;
      line-height: 19px;
    }
    
    &__card-title--border-bottom {
      margin-top: 10px;
      width: 150px;
      border-top: 2px solid #710707;
    }
  
    &__image-container {
      max-width: 728px;
      top: 163px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 40px;
      column-gap: 55px;
      justify-content: center;
  
      a{
        width: 280px;
    
        img{
          width: 280px;
        }
      }
    }
  }
  

  .visiting__image-container:nth-child(3) a:nth-child(3) h3,
  .visiting__image-container:nth-child(3) a:nth-child(5) h3,
  .visiting__image-container:nth-child(3) a:nth-child(6) h3 {
    letter-spacing: 3px;
  }
  
  .explore {
    position: relative;
    height: 908px;

    &__title { 
      width: 728px;
      margin-top: 20px;
      margin-bottom: 40px;
      top: 20px;
      line-height: 2.5;
    }
  
    .container {
      display: block;
    }
  
    &__text {
      max-width: 728px;
      height: min-content;
      margin: 0;
    }
  
    &__text {
      display: none;
    }
  
    &__image-container {
      margin: 0;
    }
  }

  .video {
    height: 837px;
    margin: 0 auto;

    &__btn-frame {
      background-position: 30px 15px;
    }

    &__btn-volume {
    background-position: 10px 15px;
    }

    &__btn-fullscreen {
      background-position: 10px 15px;
      }
  }

  .video__container {
    width: 728px;
  }
  video {
    max-width: 728px;
    height: 329px;
  }

  .video__container--items {
    max-width: 728px;
    height: 57px;

    input[type=button] {
      height: 57px;
    }
  }


  .video__title-container {
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 70px;
  }
  .video__text {
    display: none;
  }

  .video__slider {
    margin-top: 20px;

    iframe {
      width: 354px;
      height: 199px;
      border: none;

      &:nth-child(3) {
        display: none;
      }
    }
  }


  
  .gallery {
    height: 1220px;
  }

  .gallery__title {
    top: 40px;
  }
  .gallery__image-container {
    max-width: 728px;
    margin-top: 80px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    row-gap: 24px;
    column-gap: 12px;
    
  }

  .gallery__image-container img {
    width: 352px;
  }

  .gallery__image-container--shadow {
    top: 980px;
    max-width: 728px;
    height: 239px;
  }

  .tickets {
    height: 633px;
  }
  .tickets__title {
    max-width: 728px;
    padding-top: 20px;
    line-height: 2.5;
  }

  .tickets__buynow {
    margin-top: 0px;
  }
  .tickets__image-container {
    flex: none;
    width: 444px;
    height: 340px;
    margin-top: 40px;
  }

  .tickets__choice-container {
    display: none;
  }

  .choice-container__group {
    margin-top: 13px;
    margin-bottom: 25px;
    width: 175px;

    &-title {
      margin-top: 12px;
    }
  }

  .choice-container__title {
    line-height: 35px;
    margin-bottom: 30px;
  }

  .tickets__amount-container {
    width: 150px;
    margin-top: 40px;
    margin-left: 60px;
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
    flex: auto;
  }

  .parallax {
    height: 300px;
  }

  .contacts {
    height: 925px;
  }
  .contacts__title {
    max-width: 728px;
    top: 20px;
    line-height: 2.5;
  }

  .contacts__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 163px;
  }

  .contacts__map {    
    position: unset;
    width: 728px;
    height: 476px;
  }

  .contacts__address {
    position: unset;
    height: 220px;
  }

  .contacts__address-title {
    font-size: 20px;
    line-height: 23px;
  }

  .contacts__address ul {
    font-weight: 300;
    font-size: 18px;
    line-height: 11px;
    margin-top: 46px;
  }

  .footer {
    max-width: 768px;
    height: 411px;
    background-position: 0px 306px;

    &__logo {
      flex: 2;
      margin-top: 48px;
    }
  
    &__title {
      margin-left: 74px;
      line-height: 36px;
    }
  
    &__links {
      margin-top: 58px;
      margin-left: 83px;
  
       ul {
        column-gap: 183px;
        height: 150px;
  
        li{
          font-size: 18px;
          line-height: 21px;
        }
      }
    
      &-section {
        height: 297px;
      }
    }
  
    &__media {
      margin-top: 220px;

      ul {
        position: absolute;
        left: 295px;
      }
    }
  
    &__copy-section {
      margin-top: 53px;
    }
  }

}

@media only screen 
and (min-device-width : 769px) 
and (max-device-width : 1024px) {

  .header-container {
    height: 130px;
    max-width: 984px;
  }

  .header__navigation ul {
    display: none;
  }
  
  .container {
    margin: 0 auto;
    max-width: 984px;
  }

  .welcome {
    height: 585px;

    .container {
      height: 585px;
    }
  
    &__welcome-bgi {
      max-width: 700px;
      height: 525px;
      background-size: cover;
      z-index: 0;
    }
  
    &__title {
      top: 50px;
    }
  
    &__range {
      width: 445px;
      height: 28px;
      top: 255px;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 2px;
    }
  
    &__button-discover {
      position: absolute;
      width: 300px;
      height: 60px;
      margin-top: 315px;
      padding-left: 45px;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      z-index: 1;
    }
  
    &__welcome-slider {
      width: 700px;
    }
  
    &__slider--counter {
      margin-left: 210px;
    }
  }

  

  .slider__rectangle--white {
    width: 12px;
    height: 12px;
  }

  .slider__rectangle--yellow {
    width: 12px;
    height: 12px;
  }

  .section-title {
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 5px;
  }

  .visiting {
    height: 1433px;

    &__title {
      max-width: 984px;
      top: 44px;
      line-height: 2.21;
    }
  
    &__card-title {
      font-size: 28px;
      line-height: 31px;
      letter-spacing: 5px;

      &--border-bottom {
        width: 150px;
        border-top: 2px solid #710707;
      }
    }
  
    &__card-text1 {
      margin-top: 8px;
      font-size: 20px;
      line-height: 23px;
    }
  
    &__card-text2 {
      margin-top: 10px;
      font-size: 16px;
      line-height: 19px;
  }

  &__image-container {
    max-width: 984px;
    top: 218px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 62px;
    column-gap: 108px;
    justify-content: center;

    a{
      width: 330px;
  
      img{
        width: 330px;
      }
    }

    &:nth-child(3) a:nth-child(3) h3,
    &:nth-child(3) a:nth-child(5) h3,
    &:nth-child(3) a:nth-child(6) h3 {
      letter-spacing: 3px;
    }

  }
  }
  
  .explore {
    position: relative;
    height: 1149px;

    .container {
      display: block;
    }

    .section-title {
      line-height: 115px;
    }


    &__title {
      width: 984px;
      margin-top: 40px;
      margin-bottom: 62px;
    }

    &__image-container {
      margin-top: 61px;
      margin-left: 133px;
    }
  
    &__text {
      width: 984px;
      height: min-content;
      margin: 0;
      font-size: 20px;
      line-height: 36px;
  
      &:nth-child(4) {
        display: none;
      }
    }
  }

  .video {
    height: 1001px;
    margin: 0 auto;

    &__title-container {
      justify-content: start;
      margin-top: 55px;
      margin-bottom: 30px;
    }
    &__text {
      display: none;
    }
    
    &__btn-frame {
      background-position: 40px 15px;
    }

    &__btn-fullscreen {
      background-position: 20px 15px;
    }

    &__slider {
      margin-top: 40px;
    }
  
    &__slider iframe {
      width: 300px;
      height: 170px;
      border: none;
    }

    &__container {
      width: 984px;
  
      &--items {
        max-width: 984px;
        height: 60px;
      }
    
      &--items input[type=button] {
        height: 60px;
      }
    }
  }

  video {
    max-width: 984px;
    height: 444px;
  }
  
  .gallery {
    height: 1460px;

    &__title {
      top: 53px;
    }

    &__image-container {
      max-width: 984px;
  
      display: flex;
      flex-flow: column wrap;
      align-content: space-between;
      row-gap: 24px;
      column-gap: 18px;
      margin-top: 105px;
  
      img {
        width: 304px;
      }
    
      &--shadow {
        top: 1225px;
        max-width: 984px;
        height: 239px;
      }
    }
  }

  .tickets {
    height: 718px;

  &__title {
    max-width: 984px;
    padding-top: 38px;
    line-height: 118px;
  }

  &__image-container {
    flex: none;
    width: 700px;
    height: 440px;
    margin-top: 60px;
  }

  &__choice-container {
    display: none;    
  }

  &__buynow {
    margin-top: 0px;
  }

  &__amount-container {
    width: 150px;
    margin-top: 60px;
    margin-left: 80px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    flex: auto;
  }
  }

  .choice-container {
    &__group {
      width: 175px;
      margin-top: 12px;
      margin-bottom: 28px; 
    }

  }
  
  .contacts {
    height: 734px;

    &__title {
      max-width: 984px;
      line-height: 117px;
      top: 38px
    }
  
    &__inner-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      top: 217px;
    }
  
    &__map {    
      position: unset;
      width: 694px;
      height: 454px;
    }
  
    &__address {
      position: unset;
  
      &-title {
        font-size: 24px;
        line-height: 28px;
      }
  
      ul {
        font-weight: 300;
        font-size: 20px;
        line-height: 13px;
        margin-top: 40px;
      }
    }
  }
  

  .footer {
    max-width: 1024px;
    background-position: 0px 243px;

    &__logo {
      margin-top: 60px;
    }
  
    &__title {
      margin-left: 74px;
      line-height: 36px;
    }
  
    &__links {
      margin-top: 65px;
      margin-left: 52px;
    }
  
    &__links ul {
      column-gap: 122px;
    }
    
    &__links-section {
      height: 297px;
    }
  
    &__media {
      margin-top: 145px;
    }
  }

  
}
