.toys {
    background: rgba(22, 41, 41, 0.5);
    backdrop-filter: blur(3px);
    color: #fff;
    height: 100%;
    min-height: calc(100vh - 140px);
    width: 100%;
    &__filter {
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95vw;
        max-width: 1600px;
        font-size: 20px;
        line-height: 40px;

        &-value, &-range, &-sort {
            width: 25vw;
            height: 35vh;
            padding: 1vh 1vw;
            border: 1px solid #278D9F;
            border-radius: 10px;
            background-color: rgba(31, 112, 127, .3);
            backdrop-filter: blur(6px);
        }

        &-title {
            color: #fff;
        }
    }

    &__items {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95vw;
        max-width: 1600px;
        &-item {   
            display: flex;
            flex-wrap: wrap;         
            justify-content: space-around;
            width: 300px;
            height: 300px;
            margin-top: 5px;
            margin-bottom: 10px;
            border-radius: 10px;
            border: 1px solid #278D9F;
            background-color: rgba(31, 112, 127, .3);
            backdrop-filter: blur(6px);
            cursor: pointer;
        }
    }
}

.selected {
    color: rgb(255, 255, 255);;
    background-color: rgb(61, 156, 48);
}

.item-title {
    width: 100%;
    font-size: 20px;
    font-stretch: condensed;
}

.item-img {
    width: 90px;
    height: 112px;
    object-fit: contain;
    pointer-events: none;
}

.item-description {
    margin-top: -20px;
    padding-left: 10px;
    pointer-events: none;
    line-height: 1;
    font-size: 20px;
    font-weight: 400;
}

.toys__filter-value--shape {
    display: flex;
    align-items: center;

    button {
        position: relative;
        width: 40px;
        height: 40px;
        margin: 10px 7px;
        border: 0;
        outline: 0;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        transition: .3s;

        &:nth-child(2) {
            background-image: url(../assets/svg/ball.svg);
            margin-left: 20px;
        }
    
        &:nth-child(3) {
            background-image: url(../assets/svg/bell.svg);
            margin-left: 20px;
        }
    
        &:nth-child(4) {
            background-image: url(../assets/svg/cone.svg);
            margin-left: 20px;
        }
    
        &:nth-child(5) {
            background-image: url(../assets/svg/snowflake.svg);
            margin-left: 20px;
        }
    
        &:nth-child(6) {
            background-image: url(../assets/svg/toy.svg);
            margin-left: 20px;
        }
    }
}

.toys__filter-value--color {
    display: flex;
    align-items: center;

    button {
        position: relative;
        width: 30px;
        height: 30px;
        margin: 10px 7px;
        border: 1px solid #134e58;
        border-radius: 5px;
        outline: 0;
        cursor: pointer;
        transition: .3s;

        &:nth-child(2) {
            background-color: #fff;
            margin-left: 20px;
        }

        &:nth-child(3) {
            background-color: rgb(238, 255, 0);
            margin-left: 20px;
        }

        &:nth-child(4) {
            background-color: rgb(255, 0, 0);
            margin-left: 20px;
        }

        &:nth-child(5) {
            background-color: rgb(31, 6, 255);
            margin-left: 20px;
        }

        &:nth-child(6) {
            background-color: rgba(9, 255, 0, 0.795);
            margin-left: 20px;
        }
    }

    .active::after {
        content: '';
        display: block;
        top: 5px;
        left: 9px;
        width: 6px;
        height: 10px;
        border: solid rgb(44, 92, 25);
        border-width: 0 4px 4px 0; 
        transform: rotate(45deg);
    }
}

.toys__filter-range {
    &--firstslider {
        margin-top: 20px;
    }

    &--secondtslider {
        margin-top: 20px;
    }
}

.toys__filter-value--size {
    display: flex;
    align-items: center;

    button {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 10px 7px;
        border: 0;
        outline: 0;
        background-image: url(../assets/svg/ball.svg);
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        transition: .3s;

        &:nth-child(2) {    
            margin-left: 10px;
        }

        &:nth-child(3) {
            background-size: 40px 40px;
            margin-left: 10px;
        }

        &:nth-child(4) {
            background-size: 30px 30px;
            margin-left: 10px;
        }
    }
}

.toys__filter-value--favorite {
    display: flex;
    align-items: center;
}

.toys__filter-value--favorite {
    display: flex;
    align-items: center;

    .favorite {
        margin-left: 15px;
        width: 25px;
        height: 25px;
    }
}

.toys__filter-sort {
    &--select {
        appearance: none;
        border: 0;
        outline: 0;
        font: inherit;
        width: 20vw;
        height: 40px;
        padding: 5px 25px;
        margin: 10px 0;
        margin-bottom: 125px;
        background-color: rgba(31, 112, 127, .3);
        background-image: url(../assets/svg/arrow-down.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 340px center;
        backdrop-filter: blur(6px);
        border-radius: 20px;
        border: 1px solid #278D9F;
        font-size: 20px;
        line-height: 28px;
        color: #fff;
        cursor: pointer;
    }
}

.reset {
    width: 15vw;
    height: 40px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #278D9F;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
    cursor: pointer;
    color: #fff;
    font: inherit;
}

#exampleSlider, #yearSlider {
    margin-top: 40px;
    height: 10px;
}

#exampleSlider .noUi-connect,
#yearSlider .noUi-connect
 {
    background: #278D9F;
}

#exampleSlider .noUi-handle,
#yearSlider .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}

#exampleSlider .noUi-handle::before,
#yearSlider .noUi-handle::before,
#exampleSlider .noUi-handle::after,
#yearSlider .noUi-handle::after {
    display: none;
}