@font-face {
  font-family: Roboto;
   src: url("assets/fonts/Roboto-Thin.ttf");
   font-weight: 100;
}

@font-face {
  font-family: Roboto;
   src: url("assets/fonts/Roboto-Light.ttf");
   font-weight: 300;
}

@font-face {
  font-family: Roboto;
   src: url("assets/fonts/Roboto-Regular.ttf");
   font-weight: 400;
}

@font-face {
  font-family: Forum;
   src: url("assets/fonts/Forum-Regular.ttf");
   font-weight: 400;
}
 
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgb(0, 0, 0);
}

  .header-container {
    height: 150px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0);    
  }
  
  .header__logo {
    width: 60px;
    height: 30px;
    background-image: url("./assets/img/svg/logo.svg");   
    background-repeat: no-repeat; 
  } 

  .header__title {
    font-family: Forum;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    margin-left: 75px;
    line-height: 31px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
  }

  .header__navigation {
    width: 775px;
    height: 26px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 2px;
  }
  
  .header__navigation ul {    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header__navigation ul li {
    display: inline;
  }

  .wrapper {
    margin: 0 auto;
    width: 1920px;
  }
  
.container {
    margin: 0 auto;
    width: 1440px;
}

.welcome {
  position: relative;
  height: 810px;
  background-color: rgb(0, 0, 0);
}


.welcome__title {
  position: absolute;
  height: 180px;
  top: 150px;
  color: rgb(255, 255, 255);
  z-index: 110;
}

.section-title {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
}

.welcome__range {
  position: absolute;
  width: 445px;
  height: 33px;
  top: 355px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  z-index: 110;
}

.welcome__button-discover {
  width: 360px;
  height: 75px;
  margin-top: 445px;
  padding-left: 67px;
  background-color: #710707;
  border-radius: 10px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 110;
}

.welcome__welcome-slider {
  position: absolute;
  width: 1000px;
  height: 750px;
  right: 230px;
  top: 0px;
  z-index: 0;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("./assets/img/welcome-slider/1.jpg");
  background-repeat: no-repeat;
}


.visiting {
  position: relative;
  height: 1266px;
  background-color: rgb(255, 255, 255);
}

.visiting__title {  
  position: absolute;
  top: 53px;
  width: 1440px;
  color: #9D8665; 
  border-bottom: 3px solid #710707;
  border-radius: 0px;
  line-height: 1.7;
}

.visiting__image-container {
  position: absolute;
  top: 267px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 60px;
}


.visiting__card-title {
  margin-top: 22px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  color: #000000;
}

.visiting__card-title__border-bottom {
  margin-top: 10px;
  width: 300px;
  border-top: 1px solid #710707;
}

.visiting__card-text1 {
  margin-top: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.visiting__card-text2 {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.explore {
  position: relative;
  height: 865px;
  margin: 0 auto;
  background-color: #000000;
}

.explore .container {
  display: flex;
}

.explore__title {
  display: inline-block;
  margin-top: 53px;
  margin-bottom: 53px;
  color: rgb(255, 255, 255);
  border-bottom: 3px solid #710707;
  border-radius: 0px;
  line-height: 1.7;
}

.explore__text {
  width: 660px;
  height: 77px;
  margin-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
}

.explore__text--yellow {
  color: #CAAA7D;
}

.explore__image-container {
  position: relative;
  margin-top: 90px;
  margin-left: 60px;
}


.explore__image-container--before {
  position: absolute;
  top: 0;
  left: 0;
}

.explore-slider {
  position: absolute;
  top: 0;
  left: 420px;
}

.video {
  height: 1396px;
  margin: 0 auto;
}

.video .container {
  display: flex;
  flex-direction: column;
}

.video__title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.video__title {
  width: 720px;
  height: 90px;
  left: 0px;
  top: 0px;
  color: #9D8665;
}

.video__text {
  width: 720px;
  height: 77px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.video__container {
  width: 1440px;
  height: 650px;
}

.gallery {
  height: 2200px;
  margin: 0 auto;
  background-color: #000000;
}

.gallery__title {
  color: rgb(255, 255, 255);
}

.gallery__image-container {
  display: flex;
  flex-flow: column wrap;
  row-gap: 15px;
  column-gap: 20px;
}

.gallery__image-container:nth-child(n+1) { order: 1;  }
.gallery__image-container:nth-child(n+2) { order: 2; }
.gallery__image-container:nth-child(n)   { order: 3; }

.gallery__image-container::before,
.gallery__image-container::after {
  padding-top: 50px;
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.tickets {
  position: relative;
  height: 893px;
  margin: 0 auto;
}

.tickets__title {
  position: absolute;
  top: 53px;
  width: 1440px;
  color: #9D8665;  
  border-bottom: 3px solid #710707;
  border-radius: 0px;
  line-height: 1.7;
}

.parallax {
  height: 400px;
  border: 1px solid red;
}

.contacts {
  position: relative;
  height: 963px;
  margin: 0 auto;
}

.contacts__title {
  position: absolute;
  top: 53px;
  width: 1440px;
  color: #9D8665;  
  border-bottom: 3px solid #710707;
  border-radius: 0px;
  line-height: 1.7;
}

.footer {
  height: 392px;
  margin: 0 auto;
  background-color: #000000;
}