html, body { 
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: auto 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: url('./assets/bg-image.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body, input, button {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
    min-width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.footer {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}
/* garage */
.garage-content {
  min-width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(207, 204, 204, 0.527) 0%, rgba(255, 255, 255, 0.856) 100%);
  backdrop-filter: blur(5px);
  font-family: inherit;
}

.control-panel {
  width: 80vw;
  display: flex;
  justify-content: space-around;

  &__counter {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  &__dynamic {
    &--create-car, &--update-car {
      width: 300px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
}

.cars-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pagination {
  margin: 10px;
}

.car-block {
  width: 80vw;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.car-block:hover {
  background-color: rgba(240, 128, 128, 0.1);
}

.started {
  color: #000;
  background-color: rgb(26, 187, 5);

  &:disabled {
    cursor: unset;
    color: rgb(114, 114, 114);
    background-color: rgb(205, 209, 205);
  }

  &:hover {
    color: #000;
    border: none;
    box-shadow: unset;
  }
}

.stopped {
  color: #fff;
  background-color: rgb(209, 76, 76);

  &:disabled {
    cursor: unset;
    color: rgb(114, 114, 114);
    background-color: rgb(205, 209, 205);
    &:hover {
      color: #000;
    }
  }

  &:hover {
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: unset;
  }
}

.name {
  flex: 5;
  font-size: 18px;
}

.race-line {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(248, 10, 10, 0.658);
  display: flex;
  justify-content: start;
  align-items: flex-end;
}


/* spinner */
.lds-ripple {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(252, 42, 42);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.winner-title {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  width: 300px;
  height: 30px;
  font-size: 20px;
  color: #000000;
  box-shadow: #000000 0 0 5px, transparent 0 0 0 0;
  background-color: #7bdb90d0;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* winners */
.winners-content {
  min-width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(118.88% 706.86% at 0% 0%, rgba(207, 204, 204, 0.6) 0%, rgba(255, 255, 255, 0.856) 100%);
  backdrop-filter: blur(5px);
  font-family: inherit;
}

.winners-counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__total {
    font-size: 18px;
  }

  &__page {
    font-size: 18px;
  }
}

.table-container {
  height: 70vh;
  font-size: 16px;
}

table {
  border-spacing: unset;
}

th {
  background-color: rgba(29, 187, 8, 0.856);
  border: none;
}

th, td {
  padding: 8px 22px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* general */
.link-garage, .link-winners {
  width: 80px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #6b6767;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  justify-content: center;
  line-height: 1;
  margin: 10px;
  outline: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.link-garage:hover, .link-winners:hover {
  box-shadow: #ec1414 0 0 0 1px, transparent 0 0 0 0;
  color: #ec1414;
}

button {
  width: 80px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  justify-content: center;
  margin-right: 10px;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    box-shadow: #ec1414 0 0 0 1px, transparent 0 0 0 0;
    color: #ec1414;
  }

  &:disabled {
    cursor: unset;
    color: rgb(114, 114, 114);
    background-color: rgb(205, 209, 205);
    box-shadow: none;
  }
}

.head-wins {
  cursor: pointer;
}

.head-besttime {
  cursor: pointer;
}

.asc:after {
  content: '';
  background:url('./assets/sort-up-solid.svg');
  background-size: 20px 20px;
  position:absolute;
  width:20px;
  height:20px;
  margin-top:5px;
  margin-left:5px;
}

.desc:after {
  content: '';
  background:url('./assets/sort-down-solid.svg');
  background-size: 20px 20px;
  position:absolute;
  width:20px;
  height:20px;
  margin-left:5px;
}


@media (min-width: 500px) and (max-width: 700px) {
  .control-panel {
    width: 90vw;

    &__counter{
      align-items: center;
      &--cars{
        font-size: 14px;
      }
      
      &--page{
        font-size: 14px;
      }
    }
  }

  .car-block {
    width: 90vw;
  }

  .name {
    font-size: 14px;
  }

  button {
    width: 60px;
  }
}